<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<title>Radar Forex</title>

<style>

body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}

table{
margin:auto;
border-collapse:collapse;
width:70%;
}

th,td{
border:1px solid #444;
padding:10px;
}

.compra{
color:#00ff88;
font-weight:bold;
}

.venda{
color:#ff4444;
font-weight:bold;
}

.aguardar{
color:#ffaa00;
font-weight:bold;
}

</style>

</head>

<body>

<h1>Radar Forex</h1>

<table id="tabela">

<tr>
<th>PAR</th>
<th>SINAL</th>
<th>HORA</th>
</tr>

</table>

<script>

async function atualizar(){

let resposta = await fetch("/sinais")
let dados = await resposta.json()

let tabela = document.getElementById("tabela")

tabela.innerHTML =
"<tr><th>PAR</th><th>SINAL</th><th>HORA</th></tr>"

dados.forEach(d => {

let classe = "aguardar"

if(d.sinal=="COMPRA") classe="compra"
if(d.sinal=="VENDA") classe="venda"

tabela.innerHTML += `
<tr>
<td>${d.par}</td>
<td class="${classe}">${d.sinal}</td>
<td>${d.hora}</td>
</tr>
`

})

}

/* ATUALIZA A CADA 30 SEGUNDOS */

setInterval(atualizar,30000)

atualizar()

</script>

</body>
</html>
